h6 
{
    margin-bottom: 0 !important
}

blockquote
{
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 4px solid #ccc;
}

blockquote p
{
    margin: 0;
}

.wy-nav-content
{
max-width: 100%;
}

footer *
{
    display: none;
}


footer
{
    /* font-size: 0; */
    color: transparent;
    max-height: 35px;
    overflow: hidden;
}

footer .rst-footer-buttons
{
    display: block;
    font-size: 100% !important;
    
} 

.admonition.note .admonition-title::before {
    content: "\f05a"; /* FontAwesome icon code */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.warning .admonition-title::before {
    content: "\f071"; /* FontAwesome icon code for warning */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.question .admonition-title::before {
    content: "\f128"; /* Question Circle Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.success .admonition-title::before {
    content: "\f00c"; /* Check Circle Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.failure .admonition-title::before {
    content: "\f057"; /* Times Circle Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.example .admonition-title::before {
    content: "\f05a"; /* Info Circle Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.abstract .admonition-title::before {
    content: "\f02d"; /* Book Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.hint .admonition-title::before {
    content: "\f129"; /* Info Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.caution .admonition-title::before {
    content: "\f071"; /* Exclamation Triangle Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.danger .admonition-title::before {
    content: "\f06a"; /* Exclamation Circle Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

.admonition.tip .admonition-title::before {
    content: "\f0eb"; /* Lightbulb Icon */
    font-family: "FontAwesome";
    margin-right: 0.5em;
}

/* Dark mode styles */
.dark-mode {
    background-color: #3f3f3f;
    color: #f5f5f5;
}

body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode .navbar, body.dark-mode .footer {
    background-color: #1f1f1f;
}

/* code, pre {
    /* background-color: #1e1e1e; Visual Studio dark background 
    color: #d4d4d4; /* Default text color 
} */

/* .hljs-keyword { color: 	#569cd6;  }   Keyword  */
/* .highlight .s { color: #d69d85; }   String */
/* .highlight .c { color: #608b4e; }   Comment */
/* .highlight .n { color: #9cdcfe; }   Name (identifiers, functions) */
/* .highlight .o { color: #b4b4b4; }   Operators */
/* .hljs-number { color: #1486ff; }   Numbers */
/* .highlight .p { color: #d4d4d4; }   Punctuation */